---
layout: category
title: Testimonials
pagination: 
  enabled: true
  per_page: 5
  category: Testimonials
  permalink: '/:num/'
  sort_field: 'date'
  sort_reverse: true
  trail: 
    before: 1
    after: 3
  autopage:
    enabled: true	
    autopage_collection: Testimonials
    layouts: category
---
<!-- blog feed -->
{% for post in paginator.posts %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">

		<hr />
		<h2 class="post-overview-title">
			<a class="post-link" href="{{ post.url }}">{{ post.title | truncate: 70 }}</a>
		</h2>
	</div>
	{% if post.has_soundcloud == true %}
	<div class="col-lg-10 col-lg-offset-1 testimonial-excerpts">

		<a href="{{post.url}}">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{post.soundcloud_embed_code}}&amp;color=ff5500"></iframe>
		</a>
		<div class="col-lg-10 col-lg-offset-1">
			<br>
			<!-- {{ post.excerpt | strip_html | prepend: "<p class='excerpt'>" | append: "<p>" | truncate: 320 }}<br><br> -->
			<a href="{{post.url}}" class="readlink">Read The Full Interview</a>
		</div>
	</div>
		{% else %}
		<div class="col-lg-5 col-lg-offset-1 testimonial-excerpts">

			<a href="{{post.url}}">
				{% if post.use_youtube_image == true %}
				<img src="http://img.youtube.com/vi/{{post.youtube_code | remove: 'https://youtu.be/' | remove: 'https://www.youtube.com/watch?v='}}/maxresdefault.jpg"
				 alt="{{post.title}}" class="testimonial-image" height="150px" width="auto" /> {% else %} {% if post.youtube_alternate_image != null %}
				<img src="{{post.youtube_alternate_image}}" alt="{{post.title}}" class="testimonial-image" width="auto" style="display: block; margin:auto"
				/> {% else %}
				<img src="{{ site.data.settings.images.post_cover }}" alt="{{post.title}}" class="testimonial-image" height="150px" width="auto"
				/> {% endif %}
			</a>
		</div>
		<div class="col-lg-5">
			<br> {{ post.excerpt | strip_html | prepend: "
			<p class='excerpt'>" | append: "
				<p>" | truncate: 320 }}
					<br>
					<br>
					<a href="{{post.url}}" class="readlink">Read The Full Interview</a>
		</div>
		{% endif %}


	
	{% endif %}
</div>
{% endfor %}